* {box-sizing:border-box}

body {
    background-color: antiquewhite;
}

/* Sub-Banner */
.sub-banner .container {
    width: 85%;
    position: relative;
}

.sub-banner .slideshow {
  margin: auto;
  position: relative;
}

.sub-banner .slideshow .slides {
  display: none;
}

.sub-banner .slideshow .slides img {
    width: 100%;
}

.sub-banner .slideshow .prev,
.sub-banner .slideshow .next {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
}

.sub-banner .slideshow .next {
    right: 0;
}

.sub-banner .slideshow .prev .arrow-left,
.sub-banner .slideshow .next .arrow-right {
    height: 20px;
    width: 20px;
    border-top: 3px solid #666;
    border-right: 3px solid #666;
    position: absolute;
    top: 50%;
    left: 50%;
}

.sub-banner .slideshow .prev .arrow-left {
    transform: translate(-20%,-50%) rotate(225deg);
}

.sub-banner .slideshow .next .arrow-right {
    transform: translate(-70%,-50%) rotate(45deg);
}

.sub-banner .slideshow .prev .arrow-left:hover,
.sub-banner .slideshow .next .arrow-right:hover {
    border-color: #fff;
}
