* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    font: 14px/18px Arial,Helvetica,sans-serif;
    color: #333;
    outline: none;
}

.container {
    width: 85%;
}

/* Sub-Banner */
.sub-banner .container {
    position: relative;
}

.sub-banner .slideshow {
  margin: auto;
  position: relative;
}

.sub-banner .slideshow .slides {
  display: none;
}

.sub-banner .slideshow .slides img {
    width: 100%;
}

.sub-banner .slideshow .prev,
.sub-banner .slideshow .next {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
}

.sub-banner .slideshow .next {
    right: 0;
}

.sub-banner .slideshow .prev .arrow-left,
.sub-banner .slideshow .next .arrow-right {
    height: 20px;
    width: 20px;
    border-top: 3px solid #666;
    border-right: 3px solid #666;
    position: absolute;
    top: 50%;
    left: 50%;
}

.sub-banner .slideshow .prev .arrow-left {
    transform: translate(-20%,-50%) rotate(225deg);
}

.sub-banner .slideshow .next .arrow-right {
    transform: translate(-70%,-50%) rotate(45deg);
}

.sub-banner .slideshow .prev .arrow-left:hover,
.sub-banner .slideshow .next .arrow-right:hover {
    border-color: #fff;
}

/* Header */
.header .sub-header {
    background-color: #ffd400;
    padding-top: 10px;
}

.header .sub-header .container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    max-width: 1220px;
    margin: auto;
    padding: 0 10px;
}

.header .sub-header .logo {
    padding-right: 15px;
}

.header .sub-header .logo .main-logo {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/homev2/desk/iconnew.png);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 310px 257px;
    background-position: 0 -176px;
    width: 228px;
    height: 40px;
}

.header .sub-header .address {
    color: #333;
    font-size: 11px;
    line-height: 15px;
    margin-right: 21px;
    width: 11.5%;
    background: #ffac0a99;
    padding: 4px 6px 4px 10px;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
}

.header .sub-header .address .name {
    color: #333;
    font-weight: bold;
    width: max-content;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    max-width: 117px;
    text-transform: capitalize;
    padding-right: 15px;
}

.header .sub-header .address .name::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    content: '';
    position: absolute;
    top: 43%;
    right: 7px;
}

.header .sub-header .search {
    position: relative;
    width: 25%;
    border-radius: 4px;
    background-color: #fff;
}

.header .sub-header .search .txt-search {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    height: 40px;
    padding: 8px 8px 8px 13px;
    width: calc(100% - 35px);
}

.header .sub-header .search .btn-search {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 5px;
    right: 10px;
}

.header .sub-header .search .btn-search .icon-search {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/homev2/desk/icon_common@2x.png);
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 200px;
    background-position: -150px 0;
    height: 17px;
    width: 17px;
}

.header .sub-header .history {
    color: #333;
    font-size: 12px;
    line-height: 14px;
    padding: 6px 14px;
    width: 8%;
    border-radius: 4px;
    text-align: center;
    float: left;
    margin: 0 21px;
    background: #ffac0a99;
    text-decoration: none;
}

.header .sub-header .cart {
    border-radius: 4px;
    color: #333;
    font-size: 12px;
    line-height: 14px;
    padding: 8px 8px;
    width: 9%;
    background: #ffac0a99;
    text-decoration: none;
}

.header .sub-header .cart .detail {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.header .sub-header .cart .name {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
}

.header .sub-header .cart .detail .icon {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/homev2/desk/iconnew.png);
    background-repeat: no-repeat;
    line-height: 30px;
    background-size: 310px 257px;
    background-position: -48px 0;
    width: 25px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    margin-right: 8px
}

.header .sub-header .cart .detail .number {
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    left: 8px;
    height: 13px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 12px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    background-color: #dd1c1a;
    line-height: inherit;
}

.header .sub-header .sub-menu {
    align-items: center;
    display: flex;
}

.header .sub-header .sub-menu .title {
    padding: 0 12px;
    text-align: center;
}

.header .sub-header .sub-menu .title a {
    color: #333;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
}

.header .sub-header .sub-menu .title a p {
    margin-bottom: 0;
}

.header .sub-header .sub-menu .border-menu {
    background-color: #ffe56c;
    height: 32px;
    width: 1px;
}

.header .sub-header .sub-menu .last {
    padding-right: 0;
}

.header .main-header {
    background-color: #ffd400;
    padding: 0 0 10px;
}

.header .main-header .container {
    max-width: 1220px;
    margin: auto;
    padding: 0 10px;
}

.header .main-header .main-menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 -10px 0;
    padding-top: 10px;
    list-style: none;
}

.header .main-header .main-menu .item {
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.header .main-header .main-menu .item a {
    color: #000;
    font-size: 0;
    line-height: 16px;
    text-decoration: none;
}

.header .main-header .main-menu .item a img {
    height: 20px;
    width: auto;
    object-fit: cover;
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
}

.header .main-header .main-menu .item a .name {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

.header .main-header .main-menu .item a .list-item::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid #333;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.header .main-header .main-menu #accessory:hover #item-accessory {
    display: grid;
}

.header .main-header .main-menu #pc:hover #item-pc,
.header .main-header .main-menu #service:hover #item-service {
    display: block;
}

.header .main-header .main-menu .item .menu-child {
    display: none;
    position: absolute;
    background: #fff;
    top: 43px;
    width: 770px;
    border-radius: 4px;
    padding: 10px;
    z-index: 10;
    border: 1px solid #eee;
    left: 0;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-columns: repeat(4,auto);
}

.header .main-header .main-menu #pc .menu-child,
.header .main-header .main-menu #service .menu-child {
    width: 160px;
}

.header .main-header .main-menu .item .menu-child::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 40px;
    border-bottom: 10px solid #d9d9d9;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom-color: #fff;
}

.header .main-header .main-menu .item .menu-child .child {
    width: 100%;
    margin-bottom: 10px;
}

.header .main-header .main-menu .item .menu-child .child:first-child {
    grid-row: 1/4;
}

.header .main-header .main-menu .item .menu-child .child .title {
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    padding-bottom: 5px;
    color: #333;
}

.header .main-header .main-menu .item .menu-child .child a {
    display: block;
    padding: 10px 5px 0 0;
    color: #000;
    font-size: 11px;
    position: relative;
    line-height: 16px;
    text-decoration: none;
}

.header .main-header .main-menu .item .menu-child .child a h3 {
    font: 14px/18px Arial,Helvetica,sans-serif;
    color: #333;
    outline: none;
}

.header .main-header .main-menu .item .menu-child .child a h3:hover {
    font-weight: 600;
}

/* Main Banner */
.main-banner {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-banner .show {
    width: 1920px;
    min-width: 1920px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

.main-banner .show img {
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

/* Content */
.content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}


.content .birthday .container {
    position: relative;
    margin: auto;
    margin: 30px 0;
    border: 8px;
    display: block;
    margin-top: -92px;
    width: unset;
}

.content .birthday .container img {
    border-radius: 12px;
}

.content .birthday .container img:hover {
    cursor: pointer;
}

.content .birthday .container .owl-theme .owl-dots {
    display: none;
}

.content .birthday .container .owl-nav {
    position: absolute;
    top: 36%;
    width: 100%;
}

.content .birthday .container .owl-nav button {
    background: #fff !important;
    height: 44px;
    position: absolute;
    width: 44px;
    opacity: .7;
    border-radius: 100% !important;
    left: -22px;
    filter: drop-shadow(0 4px 7px rgba(0,0,0,.15));
    top: 0;
    transform: translateY(0);
}

.content .birthday .container .owl-nav button::after {
    content: '';
    position: absolute;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    height: 8px;
    width: 8px;
    right: 19px;
    top: 18px;
    transform: rotate(135deg);
}

.content .birthday .container .owl-nav .owl-prev::after {
    left: 20px;
    top: 18px;
    transform: rotate(-45deg);
}

.content .birthday .container .owl-nav .owl-next {
    right: -22px;
    left: unset;
}

.content .birthday .container .owl-nav button span {
    font-size: 0;
}

.content .option-sale {
    display: flex;
    overflow: hidden;
    text-align: center;
    border-radius: 12px;
    margin: 0 0 30px;
    position: relative;
    z-index: 1;
}

.content .option-sale .item {
    display: inline-block;
    vertical-align: middle;
    width: calc(100%/3 - 16px);
    margin-right: 20px;
    background-color: #fff;
    border-radius: 12px;
    padding: 15px 0;
}

.content .option-sale .item a {
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.content .option-sale .item a img {
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    border: 0;
}

.content .option-sale .item a span {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    color: #222;
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    margin-left: 10px;
    max-width: 65%;
}

.content .trending {
    display: block;
    overflow: hidden;
    margin: 0 0 30px;
    border-radius: 12px;
    background: linear-gradient(90deg,#ffecd2 0%,#fcb69f 100%);
}

.content .trending .title {
    display: block;
    overflow: hidden;
    padding: 15px 22px;
    font-size: 22px;
    line-height: 36px;
    color: #333;
    text-transform: uppercase;
}

.content .trending .show {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    padding: 0 22px 30px;
}

.content .trending .show .item {
    float: left;
    width: 280px;
    margin: 0 12px 0 0;
    position: relative;
}

.content .trending .show .last-item {
    margin: 0;
}

.content .trending .show .item .info {
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.content .trending .show .item .info img {
    display: block;
    width: 100%;
}

.content .trending .show .item .info span {
    position: absolute;
    bottom: 58px;
    left: 18px;
    font-size: 16px;
    line-height: 14px;
    color: #333;
}

.content .trending .show .item .info strong {
    position: absolute;
    bottom: 24px;
    left: 18px;
    font-size: 17px;
    line-height: 20px;
    color: #2f80ed;
    font-weight: 500;
}

.content .category {
    display: block;
    overflow: hidden;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 12px;
}

.content .category .title {
    display: block;
    overflow: hidden;
    padding: 15px 22px;
    font-size: 22px;
    line-height: 36px;
    color: #333;
    text-transform: uppercase;
}

.content .category .show {
    display: block;
    overflow: hidden;
    padding: 0 40px 30px;
}

.content .category .show .list {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.content .category .show .list .item {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
}

.content .category .show .list .item a {
    display: block;
    overflow: hidden;
    color: #333;
    text-align: center;
    width: 112px;
    text-decoration: none;
}

.content .category .show .list .item a .thumb {
    margin: auto;
    display: block;
    overflow: hidden;
    margin-bottom: 8px;
}

.content .category .show .list .item a .thumb img {
    display: block;
    margin: auto;
    width: auto;
    height: 60px;
}

.content .category .show .list .item a span {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 0 5px;
    font: 14px/18px Arial,Helvetica,sans-serif;
    color: #333;
    outline: none;
}

.content .payment {
    display: block;
    margin-bottom: 30px;
}

.content .payment .title {
    display: block;
    overflow: hidden;
    font-size: 22px;
    line-height: 36px;
    color: #333;
    text-transform: uppercase;
    padding: 0 0 15px;
}


.content .payment .container {
    position: relative;
    margin: 30px 0;
    border: 8px;
    display: block;
    margin: 0;
    width: unset;
}

.content .payment .container img {
    border-radius: 12px;
}

.content .payment .container .owl-dots {
    display: none;
}

.content .payment .container .owl-nav {
    position: absolute;
    top: 36%;
    width: 100%;
}

.content .payment .container .owl-nav button {
    background: #fff !important;
    height: 44px;
    position: absolute;
    width: 44px;
    opacity: .7;
    border-radius: 100% !important;
    border: #e1e1e1;
    left: -22px;
    filter: drop-shadow(0 4px 7px rgba(0,0,0,.15));
    top: 0;
    transform: translateY(0);
}

.content .payment .container .owl-nav button span {
    font-size: 0px;
}

.content .payment .container .owl-nav button::after {
    content: '';
    position: absolute;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    height: 8px;
    width: 8px;
    right: 19px;
    top: 18px;
    transform: rotate(135deg);
}

.content .payment .container .owl-nav .owl-prev::after {
    left: 20px;
    top: 18px;
    transform: rotate(-45deg);
}

.content .payment .container .owl-nav .owl-next {
    right: -22px;
    left: unset;
}

.content .service {
    display: block;
    overflow: hidden;
    background: #fff;
    border-radius: 12px;
    margin-bottom: 30px;
}

.content .service .title {
    display: block;
    overflow: hidden;
    padding: 15px 22px;
    font-size: 22px;
    line-height: 36px;
    color: #333;
    text-transform: uppercase;
}

.content .service .title a {
    float: right;
    font-weight: 500;
    color: #555;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.content .service .title a::after {
    content: '';
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    width: 6px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 2px 5px;
    transform: rotate(45deg);
}

.content .service .show {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 22px 30px;
}

.content .service .show .item {
    float: left;
    width: 283px;
    margin: 0 12px 0 0;
    border-radius: 14px;
    padding: 14px 10px;
    background: #dceeff;
    cursor: pointer;
}

.content .service .show .item:nth-child(2) {
    background: #fef5cf;
}

.content .service .show .item:nth-child(3) {
    background: #ffefdb;
}

.content .service .show .item:nth-child(4) {
    background: #e1fecf;
    float: right;
    margin-right: 0;
}

.content .service .show .item .icon {
    float: left;
    width: 38px;
    margin-right: 12px;
}

.content .service .show .item .icon i {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/homev2/desk/iconnew.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 310px 257px;
}

.content .service .show .item .icon .icon-card {
    background-position: -273px -89px;
    width: 38px;
    height: 38px;
}

.content .service .show .item .icon .icon-service {
    background-position: -273px -133px;
    width: 38px;
    height: 38px;
}

.content .service .show .item .icon .icon-game {
    background-position: -272px -175px;
    width: 38px;
    height: 38px;
}

.content .service .show .item .icon .icon-ticket {
    background-position: -273px -219px;
    width: 38px;
    height: 38px;
}

.content .service .show .item .text {
    display: block;
    overflow: hidden;
}

.content .service .show .item .text a {
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.content .service .show .item .text a div {
    display: block;
    overflow: hidden;
    font-size: 18px;
    line-height: 25px;
    color: #333;
}

.content .service .show .item .text a .text-title {
    font-weight: 500;
    padding: 6px 0 12px;
    display: block;
    overflow: hidden;
    font-size: 18px;
    line-height: 25px;
    color: #333;
}

.content .service .show .item .text a strong {
    color: #ff0b0b;
}

.content .product {
    display: block;
    overflow: hidden;
    margin: 0 0 30px;
}

.content .product .title {
    display: block;
    overflow: hidden;
    font-size: 22px;
    line-height: 36px;
    color: #333;
    text-transform: uppercase;
    padding: 0 0 10px;
}

.content .product .product-option {
    display: flex;
    overflow: hidden;
    flex-flow: row;
    padding: 0 0 15px;
    text-align: center;
    align-items: center;
}

.content .product .product-option a {
    display: inline-block;
    vertical-align: middle;
    width: 285px;
    margin: 0 20px 0 0;
    background: #fff;
    border-radius: 8px;
    height: 70px;
    padding: 8px 0;
    text-decoration: none;
    cursor: pointer;
}

.content .product .product-option .last-item {
    margin: 0;
}

.content .product .product-option a img {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    width: 50px;
    height: auto;
}

.content .product .product-option a span {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    font-size: 18px;
    line-height: 22px;
    padding: 8px 0 0;
    color: #222;
    font-weight: 500;
}

.content .product .product-option .active {
    background: linear-gradient(64.85deg,#fca600 23.67%,#ffd41d 106.12%);
}

.content .product .product-list {
    position: relative;
}

.content .product .product-list .show {
    display: none;
}

.content .product .product-list #list-1 {
    display: unset;
}

.content .product .product-list .list {
    display: grid;
    grid-auto-rows: minmax(min-content,max-content);
    grid-template-columns: repeat(5,minmax(0,1fr));
    grid-gap: 16px;
    border: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content .product .product-list .list .item {
    display: block;
    overflow: hidden;
    background-color: #fff;
    padding: 10px 10px 20px;
    border-radius: 4px;
    border: none;
}

.content .product .product-list .list .item a {
    display: block;
    text-decoration: none;
}

.content .product .product-list .list .item a .item-ment {
    font-size: 0;
    height: 23px;
}

.content .product .product-list .list .item a .item-ment span {
    background-color: #f1f1f1;
    color: #333;
    border-radius: 2px;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    margin-right: 4px;
    padding: 3px;
}

.content .product .product-list .list .item a .item-thumb {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    margin-top: 0;
    display: flex;
    align-items: center;
    height: 220px;
    line-height: 220px;
}

.content .product .product-list .list .item a .item-thumb img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
}

.content .product .product-list .list .item a .item-sn {
    border-radius: 20px;
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    max-width: 100%;
    padding-right: 8px;
    margin-bottom: 5px;
    background: linear-gradient(to right,#e91f63,#db2663);
}

.content .product .product-list .list .item a .item-sn img {
    float: left;
    max-width: 20px;
    border: 0;
}

.content .product .product-list .list .item a .item-sn span {
    color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 10px;
    line-height: 13px;
    margin-left: 3px;
    overflow: hidden;
    padding: 4px 0 0 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 2;
    text-transform: uppercase;
}

.content .product .product-list .list .item a h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    line-height: 21px;
    color: #333;
}

.content .product .product-list .list .item a .item-online {
    line-height: 16px;
    margin-top: 0 !important;
    color: #666;
    font-size: 14px;
    margin-bottom: 8px;
}

.content .product .product-list .list .item a .item-price {
    display: block;
    font-weight: bold;
    line-height: 18px;
    color: #d0021c;
    font-size: 18px;
    margin-bottom: 8px;
}

.content .product .product-list .list .item a .item-price small {
    color: #eb5757;
    background: #fff0e9;
    border-radius: 4px;
    padding: 1px 2px 2px 2px;
    margin-left: 7px;
    font-size: 14px;
}

.content .product .product-list .list .item a .item-vote {
    color: #999;
}

.content .product .product-list .list .item a .item-vote b {
    color: #fb6e2e;
    display: inline-block;
    vertical-align: middle;
}

.content .product .product-list .list .item a .item-vote .icon-vote {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/homev2/desk/iconnew.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 310px 257px;
    background-position: -129px 0;
    width: 12px;
    height: 12px;
    margin: 0 10px 2px 5px;
}

.content .product .product-list .btn-more {
    background-color: #fff;
    border-radius: 4px;
    color: #333;
    display: block;
    line-height: 16px;
    padding: 15px 20px;
    text-align: center;
    width: 340px;
    text-decoration: none;
    border: none;
    margin: 15px auto 0;
    cursor: pointer;
}

.content .product .product-list .btn-more span {
    position: relative;
    padding-right: 15px;
}

.content .product .product-list .list .load-more {
    display: none;
}